.App {
  text-align: center;
}

.AppLogo {
  animation: slidein 2s linear 1s infinite alternate;
  height: 35vmin;
  border-radius: 25%;
}

.AppHeader {
  background-color: #1b2334;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppLink {
  color: #ffeb00;
}

@keyframes slidein {
  from {
    margin-left: 200px;
  }

  to {
    margin-left: -200px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
